.header{
  width: 100%;
  border-bottom: 5px solid greenyellow;
  background-color: darkolivegreen;
}

.wrapper {
  max-width: 91.43rem;
  margin: auto;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
}

.header__title {
  font-size: 2.3rem;
  font-weight: 900;
}

.camera {
  width: 38px;
  height: 38px;
}

.main {
  background-color: darkslategray;
}

.memoru__game {
  width: 640px;
  height: 640px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.memory__card {
  width: calc(25% - 10px);
  height: calc(30% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transition: all .2s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: all .2s;
}

.front__face,
.back__face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: darkseagreen;
  cursor: pointer;
}






.footer {
  margin: 0 auto;
  width: 100%; 
  height: 54px;
  border-top: 5px solid greenyellow;
  background-color: darkolivegreen;
}

.footer__mem {
  max-width: 91.43rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  margin-top: 5px;
}

.footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}